
#tweet-quote{
    position:absolute;
    display:block;
    height: 28px;
    bottom: 25px;
    left: 42px;
}

#twitterIconWrapper{
    position: absolute;
    display: inline-block;
    height: 28px;
    width: 33px;
    overflow: hidden;
}

.icon-twitter{
    font-size:30px;
    position:absolute;
    bottom:-4px;
    left: 3px;
    opacity: 1;
    transition-delay: .5s;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.icon-twitter-squared{
    font-size:50px;
    position:absolute;
    bottom:-15px;
    left: -4px;
    opacity: 0;
    transition-delay: .3s;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.75,.08,.57,.77);
}

#tweetWrapper{
    display: block;
    position:absolute;
    left:33px;
    width:200px;
    height: 28px;
    overflow: hidden;
}

#tweetText{
    display: block;
    position:absolute;
    left:-170px;
    background-color: white;
    font: 900 14px Arial;
    color: black;
    line-height: 2em;
    padding: 0 0.5em 0 0;
    transition-delay: 0s;
    transition-duration: .3s;
}

#tweet-quote:hover #tweetText{
    transition-delay: .215s;
    transition-duration: .3s;
    left:0px;
}

#tweet-quote:hover .icon-twitter-squared{
    transition-delay: .015s;
    opacity:1;
}

#tweet-quote:hover .icon-twitter{
    transition-delay: .01s;
    opacity: 0;
}


@media(min-width: 1000px){
    #tweet-quote{
        height: 32px;
        bottom: 30px;
        left: 60px;
    }

    #tweetText{
        font-size:16px;
        left:-192px;
    }

    #tweetWrapper{
        height: 32px;
        left: 40px;
    }

    #twitterIconWrapper{
        height: 32px;
        width: 40px;
    }

    .icon-twitter{
        font-size: 37px;
        bottom: -7px;
        left: 3px
    }

    .icon-twitter-squared{
        font-size: 60px;
        bottom: -19px;
        left: -5px;
    }
}

